alabaster==0.7.8
appdirs==1.4.3
arandr==0.1.10
asn1crypto==0.24.0
attrs==18.2.0
autobahn==17.10.1
Automat==0.6.0
autopep8==1.5
Babel==2.6.0
beautifulsoup4==4.8.2
binary==1.0.0
bleach==3.1.0
blinker==1.4
breezy==3.0.1
Brlapi==0.7.0
cachetools==3.1.1
casttube==0.2.0
cbor==1.0.0
certifi==2019.11.28
chardet==3.0.4
chrome-gnome-shell==0.0.0
Click==7.0
colorama==0.4.3
commonmark==0.8.1
configobj==5.0.6
constantly==15.1.0
coverage==5.0.3
cryptography==2.6.1
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.14
dbus-python==1.2.16
decorator==4.3.0
defusedxml==0.6.0
distro==1.3.0
docutils==0.16
download==0.3.4
dulwich==0.19.15
entrypoints==0.3
fastimport==0.9.8
feedgenerator==1.9.1
flake8==3.7.9
Flask==1.1.1
future==0.16.0
galternatives==1.0.5
geomloss==0.2.1
google-api-core==1.14.3
google-auth==1.6.3
google-cloud-bigquery==1.20.0
google-cloud-core==1.0.3
google-resumable-media==0.4.1
googleapis-common-protos==1.6.0
gpg===1.13.1-unknown
GPUtil==1.4.0
graphviz==0.10.1
greenlet==0.4.15
html5lib==1.0.1
httplib2==0.14.0
hyperlink==19.0.0
idna==2.6
ifaddr==0.1.6
imageio==2.5.0
imagesize==1.2.0
importlib-metadata==1.4.0
incremental==16.10.1
ipykernel==5.1.4
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
itsdangerous==0.24
jellyfish==0.7.2
Jinja2==2.10.1
jsonschema==3.0.2
jupyter-client==5.3.4
jupyter-contrib-core==0.3.3
jupyter-core==4.6.1
jupyter-nbextensions-configurator==0.4.1
keyring==18.0.1
keyrings.alt==3.2.0
kiwisolver==1.0.1
libevdev==0.5
louis==3.12.0
lxml==4.4.2
lz4==3.0.2+dfsg
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.0
matplotlib==3.1.1
mccabe==0.6.1
meshio==3.3.1
meson==0.52.1
mimerender==0.6.0
mistune==0.8.4
more-itertools==4.2.0
mpi4py==3.0.3
msgpack==0.5.6
munkres==1.1.2
musicbrainzngs==0.7.1
mutagen==1.40.0
nbconvert==5.6.1
nbformat==5.0.4
neovim==0.3.0
networkx==2.4
notebook==6.0.2
numpy==1.16.5
olefile==0.46
packaging==19.1
pandas==0.24.2
pandocfilters==1.4.2
pdfarranger==1.1.1
pdftotext==2.1.1
pelican==4.2.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==6.2.1
pipdate==0.3.2
pkginfo==1.4.2
plotly==4.5.2
pluggy==0.13.1
prometheus-client==0.7.1
prompt-toolkit==1.0.15
protobuf==3.6.1
psutil==5.6.7
py==1.8.1
py-ubjson==0.14.0
pyasn1==0.4.7
pyasn1-modules==0.2.6
pycairo==1.16.2
PyChromecast==4.1.0
pycodestyle==2.5.0
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
pyflakes==2.1.1
pygal==2.4.0
pygal-maps-fr==1.1.0
Pygments==2.3.1
PyGObject==3.34.0
pyinotify==0.9.6
pykeops==1.3
PyNaCl==1.3.0
PyOpenGL==3.1.4
pyOpenSSL==19.0.0
pyparsing==2.4.2
PyPDF2==1.26.0
pypinfo==15.0.0
PyQRCode==1.2.1
PyQt5==5.14.1
pyrsistent==0.15.5
PySimpleSOAP==1.16.2
pysmbc==1.0.15.6
PySocks==1.6.8
pytest==5.3.5
pytest-cov==2.8.1
python-apt==1.8.5
python-dateutil==2.7.3
python-debian==0.1.36
python-debianbts==3.0.2
python-libdiscid==1.1
python-mimeparse==1.6.0
python-snappy==0.5.3
PyTrie==0.2
pytz==2019.3
pyudev==0.21.0
PyWavelets==1.0.3
pyxattr==0.6.1
pyxdg==0.26
PyYAML==5.3
pyzmq==17.1.2
QtPy==1.3.1
readme-renderer==24.0
recommonmark==0.5.0
reportbug==7.6.0
reportlab==3.5.34
requests==2.22.0
requests-futures==1.0.0
requests-toolbelt==0.8.0
retrying==1.3.3
ridge-map==0.0.1
roman==2.0.0
rsa==4.0
sage==0.0.0
scikit-image==0.15.0
scikit-learn==0.20.2
scipy==1.2.0
scour==0.37
seaborn==0.9.0
SecretStorage==2.3.1
Send2Trash==1.5.0
service-identity==18.1.0
simplegeneric==0.8.1
simplejson==3.16.0
sip==4.19.20
six==1.14.0
sklearn==0.0
soupsieve==1.9.5
Sphinx==1.8.5
sphinx-gallery==0.2.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-httpdomain==1.7.0
SRTM.py==0.3.4
terminado==0.8.2
testpath==0.4.4
tinydb==3.14.1
tinyrecord==0.1.5
torbrowser-launcher==0.3.2
torch==1.3.1+cpu
torchviz==0.0.1
tornado==5.1.1
tqdm==4.30.0
traitlets==4.3.3
twine==3.1.1
Twisted==18.9.0
txaio==2.10.0
u-msgpack-python==2.1
Unidecode==1.1.1
urllib3==1.25.6
visvis==1.12.2
vtk==8.1.2
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==2.0.0
wsaccel==0.6.2
youtube-dl==2019.9.28
zeroconf==0.23.0
zipp==1.0.0
zope.interface==4.6.0
